* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 16px 0;
}

.container {
    display: flex;
    margin: 0 32px;
}

.title {
    flex: 1;
    align-self: flex-end;
}

.title > h1 {
    font-size: 26px;
    margin-bottom: 12px;
}

.shortened {
    margin: 0 32px;
}

.caption {
    display: flex;
    justify-content: center;
    margin: 28px 0;
}

/* Form Styles */
#products-list-form {
    margin: 8px 8px 16px 8px;
}

#products-add-form {
    margin-top: 32px;
    margin-bottom: 64px;
}

#products-add-form label {
    display: inline-block;
    width: 126px;
}

.form-group {
    padding: 10px 0;
}

.form-group > select {
    height: 26px;
}
/* // Form Styles */

/* Button styles */
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin: 0 8px;
}

.button {
    background-color: whitesmoke; /* Green */
    border: 1px solid darkgray;
    color: black;
    padding: 12px 32px;
    margin: 12px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
/* // Button styles */ 

/* Product styles */
.products-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    max-width: 25%;
    width: 21%;
    padding: 2%;
    margin: 2%;
    justify-content: center;
    border: 1px solid black;
    
    display: flex;
}

.product-info {
    flex: 1;
}

.product-info > div {
    text-align: center;
}
/* // Product Styles */